
{{!-- ----- WRAPPER ----- --}}
<div id="coffee-pub-regent-wrapper">
{{!-- ----- FORM ----- --}}
<form id="coffee-pub-regent-query">
{{!-- BEGIN Wrapper & Form --}}

    {{!-- ----- CONTAINER  ----- --}}
    <div id="coffee-pub-regent-container">
        <div id='coffee-pub-regent-output' class="blacksmith-output">
            <div id="blacksmith-message-header" class="blacksmith-message-header-answer">
                <i class="fas fa-crystal-ball"></i>
                <span class="blacksmith-message-speaker">Regent</span>
            </div>
            <div id="blacksmith-message-content">
                <p>Greetings <b>{{user}}</b>! What brings you here today? Looking to craft a <b>devistating insult</b> to put <b>{{randomuser2}}</b> in their place? Need to fabricate a <b>rumor</b> about <b>{{randomuser1}}</b> to make your life seem better? I am here for all your needs.</p>
            </div>
            <div id="blacksmith-message-divider">Let the chronicles of your valor unfold!</div>
        </div>
        <div id="coffee-pub-regent-input">
            {{!-- Message input --}}
            <textarea rows="3" id='blacksmith-input-message' name='blacksmith-input-message' class="blacksmith-textarea"></textarea>
            {{!-- toolbar --}}
            <div id="blacksmith-message-options" class="toolbar-left">
                <label>
                    <input type="checkbox" id="enterSubmits" data-persist="true" class="blacksmith-checkbox" checked> ENTER Sends
                </label>
                <button type="button" id="blacksmith-toggle-workspace" class="toggle-button-workspace"><i class="fa-solid fa-chevrons-left"></i></button>
            </div>
            {{!-- button to submit the form --}}
            <button type="submit" value="Submit" class="blacksmith-send-button-normal button-main">
                <i class="fa-solid fa-wand-magic-sparkles"></i>
            </button>
        </div>
    </div>

    {{!-- ----- WORKSPACE WRAPPER ----- --}}
    <div id="blacksmith-workspace-wrapper" class="workspace-hidden">
    {{!-- BEGIN Workspace --}}
        {{!-- ----- WORKSPACE CONTENT ----- --}}
        <div id="blacksmith-workspace-content">
        {{!-- BEGIN Content --}}

            {{!-- ----- ADD THE WORKSPACES HERE ----- --}}
            {{!-- -----LOOKUP WORKSPACE ----- --}}
            {{> window-query-workspace-lookup id="lookup"}}
            
            {{!-- ----- LOOKUP WORKSPACE ----- --}}
            {{> window-query-workspace-assistant id="assistant"}}

            {{!-- ----- ENCOUNTER WORKSPACE ----- --}}  
            {{> window-query-workspace-encounter id="encounter"}}

            {{!-- ----- NARRATIVE WORKSPACE ----- --}}
            {{> window-query-workspace-narrative id="narrative"}}

            {{!-- ----- CHARACTER WORKSPACE ----- --}}
            {{> window-query-workspace-character id="character"}}

        {{!-- END Content --}}
        </div>

        {{!-- ----- WORKSPACE FOOTER ----- --}}
        <div id="blacksmith-workspace-footer">
            {{!-- BEGIN Footer --}}

            {{!-- WORKSPACE SELECTOR --}}
            <div id="blacksmith-workspace-toolbar" class="toolbar-left">

                {{!-- WORKSPACE: Lookup --}}
                <button type="button" id="blacksmith-query-button-lookup" title="SRD Lookup">
                    <i class="fas fa-bolt"></i>
                </button>

                {{!-- WORKSPACE: Character Guidance --}}    
                <button type="button" id="blacksmith-query-button-character" title="Character Guidance">
                    <i class="fas fa-helmet-battle"></i>  
                </button>

                {{!-- GM Workspaces --}}
                {{#if isGM}}
                    <div class="blacksmith-workspace-toolbar-divider"></div>
                    {{!-- WORKSPACE: Assistant --}}
                    <button type="button" id="blacksmith-query-button-assistant" title="Skill Check Assistant">
                        <i class="fa-solid fa-hammer-brush"></i>
                    </button>

                    {{!-- WORKSPACE: Encounter --}}
                    <button type="button" id="blacksmith-query-button-encounter" title="Quick Encounter">
                        <i class="fa-solid fa-swords"></i>
                        </button>

                    {{!-- WORKSPACE: Narrative --}}
                    <button type="button" id="blacksmith-query-button-narrative" title="Narrative Generator">
                        <i class="fas fa-theater-masks"></i>
                </button>
                {{/if}}
            </div>

            {{!-- toolbar --}}
            <div id="blacksmith-message-options" class="toolbar-left">
                <label>
                    <input type="checkbox" id="blnClearForm" data-persist="true" class="blacksmith-checkbox"> Clear
                </label>
                {{#if isGM-TURNING-THESE-OFF-USE-GLOBAL-OPTIONS}}
                    <label>
                        <input type="checkbox" id="blnGMDetails-{{id}}"  data-persist="true" class="blacksmith-checkbox" checked> GM Details
                    </label>
                    <label>
                        <input type="checkbox" id="blnGMShowPrompt-{{id}}"  data-persist="true"  class="blacksmith-checkbox" > GM Prompt
                    </label>
                {{/if}}
                <button type="button" id="blacksmith-clear-workspace" class="clear-button"><i class="fa-solid fa-broom-wide"></i></button>
            </div>
            {{!-- button to submit the form --}}
            <div id="coffee-pub-regent-input">
                <button type="submit" value="Submit" class="blacksmith-send-button-normal button-workspace">
                    <i class="fa-solid fa-cloud-bolt"></i>
                </button>
            </div>
            {{!-- END Footer --}}
        </div>            


    {{!-- END Workspace --}}
    </div>

{{!-- END Wrapper & Form --}}
</form>  
 </div>
