{{!-- Combat Tracker Secondary Bar --}}
<div class="combat-tracker-bar">
    {{!-- Combat Info --}}
    <div class="combat-info">
        <span class="combat-round">Round {{currentRound}}</span>
        <span class="combat-turn">{{currentTurn}} / {{totalTurns}}</span>
    </div>
    
    {{!-- Combat Portraits --}}
    <div class="combat-portraits">
        {{#each combatants}}
        <div class="combat-portrait {{#if isCurrent}}current{{/if}} {{#if isDefeated}}defeated{{/if}}"
             data-combatant-id="{{id}}"
             data-tooltip="{{name}} - Initiative: {{initiative}}">
            <img src="{{portrait}}" alt="{{name}}" onerror="this.src='modules/coffee-pub-blacksmith/images/portraits/portrait-noimage.webp'">
        </div>
        {{/each}}
    </div>
    
    {{!-- Combat Status --}}
    <div class="combat-status">
        <span class="combat-state">{{#if isActive}}Active Combat{{else}}Combat Ended{{/if}}</span>
    </div>
</div>
