<span style="visibility: hidden">coffeepub-hide-header</span>
<div class="blacksmith-card {{themeClassName}}">
    <div class="card-header">
        <i class="fa-solid fa-medal"></i> Reputation: {{scaleLabel}}
    </div>
    <div class="section-content">
        <div class="section-header">{{sceneName}}</div>
        <p>The party's current reputation is at <strong>{{value}}</strong> points, so they are <strong>{{scaleLabel}}</strong> in this area. 
        {{#if scaleDescription}}
        <p class="section-description">{{scaleDescription}}</p>
        {{/if}}
    </div>
</div>
