<span style="visibility: none">coffeepub-hide-header</span>
{{!-- XP Distribution Chat Message Template --}}
<div class="dnd5e chat-card cpb-xp-card">
    <header class="card-header flexrow">
        <h3 class="item-name"><i class="fas fa-star"></i> XP Distribution</h3>
    </header>
    <div class="card-content">

        {{!-- XP Summary --}}
        <div class="cpb-xp-card-section-header"><i class="fas fa-list-ol"></i> XP Summary</div>
        <div class="xp-card-content-wrapper">
            <div class="xp-total-row">
                <span class="xp-card-label">Distribution</span>
                <span class="xp-card-content">{{xpData.partySize}} Players x {{formatMultiplier xpData.partyMultiplier}} Multiplier</span>
            </div>
            {{#if xpData.modeExperiencePoints}}
            <div class="xp-total-row">
                <span class="xp-card-label">Monster XP</span>
                <span class="xp-card-content">{{xpData.adjustedTotalXp}}</span>
            </div>
            {{/if}}
            {{#if xpData.modeMilestone}}
            <div class="xp-total-row">
                <span class="xp-card-label">Milestone XP</span>
                <span class="xp-card-content">{{xpData.milestoneXp}}</span>
            </div>
            {{/if}}
            <div class="xp-total-row">
                <span class="xp-card-label">Total XP</span>
                <span class="xp-card-content">{{xpData.combinedXp}}</span>
            </div>
            <div class="xp-total-row">
                <span class="xp-card-label">Per Player</span>
                <span class="xp-card-content">{{xpData.xpPerPlayer}}</span>
            </div>
        </div>

        {{!-- Milestone Information --}}
        {{#if xpData.modeMilestone}}
        <div class="cpb-xp-card-section-header"><i class="fas fa-star"></i> {{xpData.milestoneData.category}} Milestone</div>
        <div class="xp-card-content-wrapper">
            <div class="xp-total-row">
                <span class="xp-card-label">{{xpData.milestoneData.title}}</span>
            </div>
            <div class="xp-total-row">
                <span class="xp-card-content">{{xpData.milestoneData.description}}</span>
            </div>
            <div class="xp-total-row">
                <span class="xp-card-label">Milestone XP</span>
                <span class="xp-card-content">{{xpData.milestoneXp}}</span>
            </div>
        </div>
        {{/if}}

        {{!-- Monster Breakdown --}}
        {{#if xpData.modeExperiencePoints}}
        <div class="cpb-xp-card-section-header"><i class="fas fa-dragon"></i> Monster Resolutions</div>
        <div class="monster-list">
            {{#each xpData.monsters}}
            <div class="cpb-xp-monster-item">
                <div class="cpb-xp-monster-info">
                    <span class="cpb-xp-resolution-icon">
                        {{#if (eq resolutionType "DEFEATED")}}<i class="fas fa-skull"></i>{{/if}}
                        {{#if (eq resolutionType "NEGOTIATED")}}<i class="fas fa-people-arrows"></i>{{/if}}
                        {{#if (eq resolutionType "ESCAPED")}}<i class="fas fa-running"></i>{{/if}}
                        {{#if (eq resolutionType "IGNORED")}}<i class="fas fa-person-walking-arrow-loop-left"></i>{{/if}}
                        {{#if (eq resolutionType "CAPTURED")}}<i class="fas fa-person-praying"></i>{{/if}}
                        {{#if (eq resolutionType "REMOVED")}}<i class="fas fa-person-circle-xmark"></i>{{/if}}
                    </span>
                    <span class="cpb-xp-monster-name" title="{{name}}">{{name}}</span>
                </div>
                <span class="cpb-xp-monster-points">{{finalXp}} XP</span>
            </div>
            {{/each}}
        </div>
        {{/if}}


        {{!-- Player Results --}}
        {{#if results.length}}
        <div class="cpb-xp-card-section-header"><i class="fas fa-users"></i> Experience Allocations</div>
        <div class="player-list">
            {{#each results}}
            <div class="player-item">
                <div class="cpb-xp-player-info">
                    <img class="player-portrait" src="{{img}}" alt="{{name}}" />
                    <div class="cpb-xp-player-details">
                        <span class="cpb-actor-name">{{name}}</span>
                        <span class="total-xp">{{totalXp}} XP | {{#if leveledUp}} LEVEL UP! {{else}} {{nextLevelXp}} to lvl {{nextLevel}}{{/if}}</span>
                    </div>  
                </div>
                <div class="cpb-xp-player-awards">
                    {{#if leveledUp}}
                        <i class="fas fa-star level-up"></i>
                    {{/if}}
                    <span class="xp-gained">{{#if (gt xpGained 0)}}+{{xpGained}} XP{{else}}0 XP{{/if}}</span>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}


    </div>
</div> 