<span style="visibility: hidden">coffeepub-hide-header</span>

{{!-- Combat MVP --}}
<div class="blacksmith-card theme-default blacksmith-mvp-card">
    {{#if combatMVP.themeLabel}}
    <div class="blacksmith-mvp-ribbon">
        <span class="blacksmith-mvp-ribbon-text">{{combatMVP.themeLabel}}</span>
    </div>
    {{/if}}
    <div class="card-header">
        <i class="fa-solid fa-trophy"></i> Combat MVP
    </div>
    <div class="section-content">
        {{#if combatMVP}}
        {{#if combatMVP.score}}
        {{#with combatMVP}}
        <div class="mvp-details">
            <img src="{{tokenImg}}" alt="{{name}}" />
            <div class="mvp-info">
                <div class="player-name">{{name}}</div>
                <p class="mvp-description">{{description}}</p>
            </div>
        </div>
        <div class="mvp-stats">
            <div class="mvp-stat-card">
                <h4><i class="fas fa-swords"></i> Combat</h4>
                <div class="moment-content">
                    <span class="detail">Hits:</span>
                    <span class="amount">{{combat.attacks.hits}}/{{combat.attacks.attempts}}</span>
                    <span class="detail">Crits:</span>
                    <span class="amount">{{combat.attacks.crits}}</span>
                    <span class="detail">Fumbles:</span>
                    <span class="amount">{{combat.attacks.fumbles}}</span>

                    <span class="detail">Kills:</span>
                    <span class="amount">{{kills}}</span>
                </div>
            </div>
            <div class="mvp-stat-card">
                <h4><i class="fas fa-droplet"></i> Damage</h4>
                <div class="moment-content">
                    <span class="detail">Dealt:</span>
                    <span class="amount">{{damage.dealt}}</span>
                    <span class="detail">Taken:</span>
                    <span class="amount">{{damage.taken}}</span>
                </div>
            </div>
            <div class="mvp-stat-card">
                <h4><i class="fas fa-heart"></i> Healing</h4>
                <div class="moment-content">
                    <span class="detail">Given:</span>
                    <span class="amount">{{healing.given}}</span>
                    <span class="detail">Received:</span>
                    <span class="amount">{{healing.received}}</span>
                </div>
            </div>
        </div>
        {{/with}}
        {{else}}
        <div class="mvp-details">
            <div class="mvp-info">
                <p class="mvp-description">{{combatMVP.description}}</p>
            </div>
        </div>
        {{/if}}
        {{else}}
        <div class="mvp-details">
            <div class="mvp-info">
                <p class="mvp-description">No MVP data available for this combat.</p>
            </div>
        </div>
        {{/if}}
    </div>
</div>



