<span style="visibility: hidden">coffeepub-hide-header</span>
<div class="blacksmith-card {{themeClassName}}">
    <div class="card-header">
        <i class="fa-solid fa-arrow-trend-up"></i> Reputation Change
    </div>
    <div class="section-content">
        <div class="section-header">{{sceneName}}</div>
        <p>The party has had a <strong>{{change}}</strong> change in their reputation. Their reputation has gone from <strong>{{previousValue}}</strong> to <strong>{{newValue}}</strong> points, making them <strong>{{scaleLabel}}</strong> in this area.</p>
        {{#if scaleDescription}}
        <p class="section-description">{{scaleDescription}}</p>
        {{/if}}
    </div>
</div>
