<div class="blacksmith-chat-panel">
    <div class="leader-section">
        <div class="leader-info">
            <i class="fas fa-crown leader-icon"></i>
            <span class="party-leader">{{leader}}</span>
        </div>
    </div>
    <div class="timer-section">
        <div class="timer-info {{#if isWarning}}warning{{/if}} {{#if isExpired}}expired{{/if}}" style="--progress: {{progress}}%">
            <i class="fas fa-eclipse"></i>
            <span class="session-timer">{{timer}}</span>
        </div>
    </div>
</div> 
<div class="blacksmith-chat-panel">
    <div class="toolbar-section">
        <div class="toolbar-icons">
            {{!-- Vote --}}
            <div class="tool vote" style="cursor: {{#if isGM}}pointer{{else}}not-allowed{{/if}}" title="{{#if isGM}}Start a Vote{{else}}Only the GM can start votes{{/if}}">
                <div class="vote-info">
                    <i class="fas fa-check-to-slot vote-icon"></i>
                    <span class="vote-label">Vote</span>
                </div>
            </div>
            {{!--Skillcheck --}}
            <div class="tool skillcheck" style="cursor: {{#if isGM}}pointer{{else}}not-allowed{{/if}}" title="{{#if isGM}}Request a Roll{{else}}Only the GM can request rolls{{/if}}">
                <div class="skillcheck-info">
                    <i class="fas fa-dice skillcheck-icon"></i>
                    <span class="skillcheck-label">Rolls</span>
                </div>
            </div>
            {{!--Movement --}}
            <div class="tool movement" style="cursor: {{#if isGM}}pointer{{else}}not-allowed{{/if}}" title="{{#if isGM}}Change Party Movement{{else}}Only the GM can request rolls{{/if}}">
                <div class="skillcheck-info">
                    <i class="fas fa-person-running movement-icon"></i>
                    <span class="movement-label">Movement</span>
                </div>
            </div>
            {{!-- More tools will be added here --}}
        </div>
    </div>
</div> 