<div class="blacksmith-menubar-container">
    <div class="blacksmith-menubar-left">
            {{!--Interface:  ui-left and ui-bottom, display none/inherit --}}
            <div class="tool interface tool-active" title="Toggle Core Interface including toolbars, party window, and macros">
                <div class="interface-info">
                    <i class="fas fa-sidebar interface-icon"></i>
                    <span class="interface-label">Hide UI</span>
                </div>
            </div>
            {{!-- Vote --}}
            {{#if (or isGM isLeader)}}
            <div class="tool vote tool-active" title="Vote">
                <div class="vote-info">
                    <i class="fas fa-check-to-slot vote-icon"></i>
                    <span class="vote-label">Vote</span>
                </div>
            </div>
            {{/if}}
            {{!--Skillcheck --}}
            {{#if isGM}}
                <div class="tool skillcheck tool-active" title="{{#if isGM}}Request a Roll{{else}}Only the GM can request rolls{{/if}}">
                    <div class="skillcheck-info">
                        <i class="fas fa-dice skillcheck-icon"></i>
                        <span class="skillcheck-label">Rolls</span>
                    </div>
                </div>
            {{/if}}
            {{!-- More tools will be added here --}}
    </div>
    <div class="blacksmith-menubar-right">
        {{!-- LEADER --}}
        <div class="tool leader-section {{#if isGM}}tool-active{{else}}tool-readonly{{/if}}">
            <div class="leader-info">
                <i class="fas fa-crown leader-icon"></i>
                <span class="party-leader">{{leaderText}}</span>
            </div>
        </div>
        {{!-- MOVEMENT --}}
        <div class="tool movement {{#if isGM}}tool-active{{else}}tool-readonly{{/if}}" title="{{#if isGM}}Change Party Movement{{else}}Only the GM can change movement{{/if}}">
            <div class="movement-info">
                <i class="fas {{currentMovement.icon}} movement-icon"></i>
                <span class="movement-label">{{currentMovement.name}}</span>
            </div>
        </div>
        {{!-- SESSION TIMER --}}
        <div class="tool timer-section {{#if isGM}}tool-active{{else}}tool-readonly{{/if}} {{#if isWarning}}warning{{/if}} {{#if isExpired}}expired{{/if}}" style="--progress: {{timerProgress}}%" >
            <div class="timer-info" >
                <i class="fas fa-eclipse"></i>
                <span class="session-timer">{{timerText}}</span>
            </div>
        </div>
    </div>
</div> 