<span style="visibility: hidden">coffeepub-hide-header</span>
{{#if isPublic}}
    {{#if isPlanningStart}}
        <div class="blacksmith-card theme-blue">
            <div class="section-header">
                <i class="fas fa-hourglass-start"></i> Planning Phase Started
            </div>
            <div class="section-content">
                <p>The planning phase has begun! You have {{duration}} minutes to strategize.</p>
            </div>
        </div>
    {{else if isPlanningPaused}}
        <div class="blacksmith-card theme-default">
            <div class="section-header">
                <i class="fas fa-pause"></i> Planning Phase Paused
            </div>
            <div class="section-content">
                <p>The planning timer has been paused with {{timeRemaining}} remaining.</p>
            </div>
        </div>
    {{else if isPlanningResumed}}
        <div class="blacksmith-card theme-default">
            <div class="section-header">
                <i class="fas fa-play"></i> Planning Phase Resumed
            </div>
            <div class="section-content">
                <p>The planning timer has resumed with {{timeRemaining}} remaining.</p>
            </div>
        </div>
    {{else if isTimer}}
        <div class="blacksmith-card {{#if theme}}theme-{{theme}}{{else}}theme-default{{/if}}">
            <div class="section-header">
                {{#if isTimerSet}}
                    <i class="fas fa-clock"></i> {{timerLabel}} Timer Updated
                {{else if isTimerStart}}
                    <i class="fas fa-hourglass-start"></i> {{timerLabel}} Started
                {{else if isTimerPaused}}
                    <i class="fas fa-pause"></i> {{timerLabel}} Paused
                {{else if isTimerResumed}}
                    <i class="fas fa-play"></i> {{timerLabel}} Resumed
                {{else if isTimerWarning}}
                    <i class="fas fa-exclamation-triangle"></i> {{timerLabel}} Warning
                {{else if isTimerExpiringSoon}}
                    <i class="fas fa-exclamation-circle"></i> {{timerLabel}} Ending Soon
                {{else if isTimerExpired}}
                    <i class="fas fa-stopwatch"></i> {{timerLabel}} Ended
                {{/if}}
            </div>
            <div class="section-content">
                {{#if isTimerSet}}
                    <p>{{timerLabel}} timer has been set to {{timeString}}.</p>
                {{else if isTimerStart}}
                    {{#if duration}}
                        <p>The {{timerLabel}} phase has begun! You have {{duration}} minutes.</p>
                    {{else}}
                        <p>The {{timerLabel}} phase has begun!</p>
                    {{/if}}
                {{else if isTimerPaused}}
                    <p>The {{timerLabel}} timer has been paused with {{timeRemaining}} remaining.</p>
                {{else if isTimerResumed}}
                    <p>The {{timerLabel}} timer has resumed with {{timeRemaining}} remaining.</p>
                {{else if isTimerWarning}}
                    <p>{{warningMessage}}</p>
                {{else if isTimerExpiringSoon}}
                    <p>{{expiringSoonMessage}}</p>
                {{else if isTimerExpired}}
                    <p>{{expiredMessage}}</p>
                {{/if}}
            </div>
        </div>
    {{else if isRoundAnnouncement}}
        <div class="blacksmith-card theme-default">
            <div class="section-header">
                <i class="fa-solid fa-swords"></i> Round {{roundNumber}} Has Started
            </div>
            <div class="section-content">
            </div>
        </div>
    {{else}}
        <div class="blacksmith-card theme-default">
            <div class="section-header">
                <i class="fa-solid fa-crown"></i> New Leader Elected
            </div>
            <div class="section-content">
                <p>Hooray! <strong>{{leaderName}}</strong> has been elected party leader for this session.</p>
                <ul>
                    <li>They facilitate communication and decision-making.</li>
                    <li>They coordinate party strategy and tactics.</li>
                    <li>They make the final call.</li>
                </ul>
            </div>
        </div>
    {{/if}}
{{else}}
    <div class="blacksmith-card theme-default">
        <div class="section-header">
            <i class="fa-solid fa-crown"></i> Congratulations, Party Leader!
        </div>
        <div class="section-content">
            <p>The party has chosen you to be their leader. Be honored and humbled by this trust.</p>
            <ul>
                <li>Help guide them through decisions.</li>
                <li>Keep things moving when discussion stalls</li>
                <li>Ensure everyone gets a chance to contribute, but make the final call.</li>
            </ul>
            <p>Now is the time to decide just what kind of leader you want to be.</p>
        </div>
    </div>
{{/if}} 