<span style="visibility: hidden">coffeepub-hide-header</span>
{{#if isPublic}}
    {{#if isTimerWarning}}
        <div class="blacksmith-card theme-orange">
            <div class="section-header">
                <i class="fas fa-exclamation-triangle"></i> Timer Warning
            </div>
            <div class="section-content">
                <p>{{warningMessage}}</p>
            </div>
        </div>
    {{else if isTimerExpired}}
        <div class="blacksmith-card theme-red">
            <div class="section-header">
                <i class="fas fa-stopwatch"></i> Timer Expired
            </div>
            <div class="section-content">
                <p>{{expiredMessage}}</p>
            </div>
        </div>
    {{else if isTimerSet}}
        <div class="blacksmith-card theme-blue">
            <div class="section-header">
                <i class="fas fa-clock"></i> Timer Set
            </div>
            <div class="section-content">
                <p>{{timerSetMessage}}</p>
            </div>
        </div>
    {{else if isRoundAnnouncement}}
        <div class="blacksmith-card theme-default">
            <div class="section-header">
                <i class="fa-solid fa-swords"></i> Round {{roundNumber}} Has Started
            </div>
            <div class="section-content">
            </div>
        </div>
    {{else}}
        <div class="blacksmith-card theme-default">
            <div class="section-header">
                <i class="fa-solid fa-crown"></i> New Leader Elected
            </div>
            <div class="section-content">
                <p>Hooray! <strong>{{leaderName}}</strong> has been elected party leader for this session.</p>
                <ul>
                    <li>They facilitate communication and decision-making.</li>
                    <li>They coordinate party strategy and tactics.</li>
                    <li>They make the final call.</li>
                </ul>
            </div>
        </div>
    {{/if}}
{{else}}
    <div class="blacksmith-card theme-default">
        <div class="section-header">
            <i class="fa-solid fa-crown"></i> Congratulations, Party Leader!
        </div>
        <div class="section-content">
            <p>The party has chosen you to be their leader. Be honored and humbled by this trust.</p>
            <ul>
                <li>Help guide them through decisions.</li>
                <li>Keep things moving when discussion stalls</li>
                <li>Ensure everyone gets a chance to contribute, but make the final call.</li>
            </ul>
            <p>Now is the time to decide just what kind of leader you want to be.</p>
        </div>
    </div>
{{/if}} 