  <div class="encounter-toolbar-compact">
    <div class="encounter-toolbar-header">
      <div class="encounter-toolbar-left">
        <span class="encounter-toolbar-title">ENCOUNTER </span>
        {{#if difficulty}}
            <span class="difficulty-badge {{difficultyClass}}" data-tooltip="Encounter Difficulty: {{difficulty}}">
            <i class="fa-solid fa-swords"></i>{{difficulty}}
            </span>
        {{/if}}
      </div>
      <div class="encounter-badges">
        <span class="encounter-toolbar-title">CANVAS </span>
        {{#if partyCR}}
        <span class="cr-badge encounter-party-cr" data-tooltip="Party CR">
          <i class="fas fa-helmet-battle"></i>{{partyCR}}
        </span>
        {{/if}}
        {{#if monsterCR}}
        <span class="cr-badge encounter-monster-cr" data-tooltip="Monster CR">
          <i class="fas fa-dragon"></i>{{monsterCR}}
        </span>
        {{/if}}
      </div>
    </div>

    {{#if hasEncounterData}}
      <div class="encounter-toolbar-actions">
        {{#if hasMonsters}}
        <button class="encounter-btn deploy-monsters">
          <i class="fas fa-dragon"></i>Deploy Monsters
        </button>
        {{/if}}

        <button class="encounter-btn create-combat">
          <i class="fas fa-swords"></i>Create Combat
        </button>
      </div>
    {{else}}
      <p>No encounter data found in this journal entry.</p>
    {{/if}}
  </div>
