{{#if (or 
    (and strSceneLocation (ne strSceneLocation ""))
    (and strSceneParent (ne strSceneParent ""))
    (and strSceneArea (ne strSceneArea ""))
    (and strSceneEnvironment (ne strSceneEnvironment ""))
    (and strSceneTitle (ne strSceneTitle "")))}}
<h5>
    {{~#if (and strSceneLocation (ne strSceneLocation ""))}}{{strSceneLocation}}{{/if~}}
    {{~#if (and strSceneParent (ne strSceneParent ""))}}{{#if (and strSceneLocation (ne strSceneLocation ""))}} • {{/if}}{{strSceneParent}}{{/if~}}
    {{~#if (and strSceneArea (ne strSceneArea ""))}}{{#if (or (and strSceneLocation (ne strSceneLocation "")) (and strSceneParent (ne strSceneParent "")))}} • {{/if}}{{strSceneArea}}{{/if~}}
    {{~#if (and strSceneEnvironment (ne strSceneEnvironment ""))}} ({{strSceneEnvironment}}){{/if~}}
    {{~#if (and strSceneTitle (ne strSceneTitle ""))}}{{#if (or (and strSceneLocation (ne strSceneLocation "")) (and strSceneParent (ne strSceneParent "")) (and strSceneArea (ne strSceneArea "")))}} • {{/if}}{{strSceneTitle}}{{/if~}}
</h5>
{{/if}}

<h2>Preparation</h2>
{{#if (and strPrepEncounter (ne strPrepEncounter ""))}}
    <h4>Encounter Logistics</h4>
    <h5>Monsters and NPCs</h5>
    {{{strPrepEncounter}}}
    {{#if (and strPrepEncounterDetails (ne strPrepEncounterDetails ""))}}
    <h5>Encounter Details</h5>
    {{{strPrepEncounterDetails}}}
    {{/if}}
{{/if}}

{{#if (and strPrepRewards (ne strPrepRewards "") (ne strPrepRewards "<ul>None</ul>"))}}
    <h4>Rewards and Treasure</h4>
    {{{strPrepRewards}}}
{{/if}}

{{#if (and strPrepSetup (ne strPrepSetup ""))}}
    <h4>Summary and Setup</h4>
    {{{strPrepSetup}}}
{{/if}}

{{#if (and strSceneTitle (ne strSceneTitle ""))}}
<h2>{{strSceneTitle}}</h2>
{{/if}}

{{#if (and strContextIntro (ne strContextIntro ""))}}
{{strContextIntro}}
{{/if}}

{{#each sections}}
<p></p>
<section class="narrative-section">
  {{#if (and this.strSectionTitle (ne this.strSectionTitle ""))}}
  <h2>{{this.strSectionTitle}}</h2>
  {{/if}}
  {{#if (and this.strSectionIntro (ne this.strSectionIntro ""))}}
  <p>{{this.strSectionIntro}}</p>
  {{/if}}
  {{#each this.cards}}
  {{#if (or 
    (and this.strCardDescriptionPrimary (ne this.strCardDescriptionPrimary ""))
    (and this.strCardImage (ne this.strCardImage "") (ne this.strCardImage "null")))}}
    <blockquote>
        {{#if (and this.strCardTitle (ne this.strCardTitle ""))}}
        <h4>{{this.strCardTitle}}</h4>
        {{/if}}
        {{#if (and this.strCardDescriptionPrimary (ne this.strCardDescriptionPrimary ""))}}
        <p>{{this.strCardDescriptionPrimary}}</p>
        {{/if}}
        {{#if (and this.strCardImage (ne this.strCardImage "") (ne this.strCardImage "null"))}}
            {{#if (and this.strCardImageTitle (ne this.strCardImageTitle ""))}}
            <h5>{{this.strCardImageTitle}}</h5>
            {{/if}}
            <img src="{{{this.strCardImage}}}">
            <hr>
        {{/if}}
        {{#if (and this.strCardDescriptionSecondary (ne this.strCardDescriptionSecondary ""))}}
        <p>{{this.strCardDescriptionSecondary}}</p>
        {{/if}}
        {{#if (and this.strCardDialogue (ne this.strCardDialogue "") (ne this.strCardDialogue " "))}}
            {{{this.strCardDialogue}}}
        {{/if}}
    </blockquote>
  {{/if}}
  {{/each}}
</section>
{{/each}}

{{#if (and strContextAdditionalNarration (ne strContextAdditionalNarration ""))}}
    <h4>Extended Narrative</h4>
    {{{strContextAdditionalNarration}}}
{{/if}}

{{#if (and strContextGMNotes (ne strContextGMNotes ""))}}
    <h4>Notes and Strategies</h4>
    {{{strContextGMNotes}}}
{{/if}}

{{!-- Include the hidden linked encounters data --}}
{{{linkedEncountersData}}}

{{!-- Display linked encounters in a more readable format --}}
{{#if linkedEncounters}}
<h4>Related Encounters</h4>
<div class="related-encounters">
    {{#each linkedEncounters}}
    <div class="encounter-reference">
        <h5>@UUID[{{this.uuid}}]{{this.name}}</h5>
        {{#if this.synopsis}}
        <p><strong>Synopsis:</strong> {{this.synopsis}}</p>
        {{/if}}
        {{#if this.keyMoments}}
        <p><strong>Key Moments:</strong> {{#each this.keyMoments}}{{#unless @first}}, {{/unless}}{{this}}{{/each}}</p>
        {{/if}}
    </div>
    {{/each}}
</div>
{{/if}}

{{#if (and strContextAtmosphere (ne strContextAtmosphere ""))}}
    <h4>Atmosphere and Environments</h4>
    {{{strContextAtmosphere}}}
{{/if}}
