{{#if (and strLocationImage (ne strLocationImage "") (ne strLocationImage "none") (ne strLocationImage "None") (ne strLocationImage "null"))}}
<img src="{{{strLocationImage}}}">
{{/if}}

{{#if (and strIntroduction (ne strIntroduction ""))}}
<h2>Introduction</h2>
{{{strIntroduction}}}
{{/if}}

{{#if (or
    (and strCardDescriptionPrimary (ne strCardDescriptionPrimary ""))
    (and strCardImage (ne strCardImage "") (ne strCardImage "null")))}}
<blockquote>
    {{#if (and strCardTitle (ne strCardTitle ""))}}
    <h4>{{strCardTitle}}</h4>
    {{/if}}
    {{#if (and strCardDescriptionPrimary (ne strCardDescriptionPrimary ""))}}
    <p>{{strCardDescriptionPrimary}}</p>
    {{/if}}
    {{#if (and strCardImage (ne strCardImage "") (ne strCardImage "null"))}}
        {{#if (and strCardImageTitle (ne strCardImageTitle ""))}}
        <h5>{{strCardImageTitle}}</h5>
        {{/if}}
        <img src="{{{strCardImage}}}">
        <hr>
    {{/if}}
    {{#if (and strCardDescriptionSecondary (ne strCardDescriptionSecondary ""))}}
    {{{strCardDescriptionSecondary}}}
    {{/if}}
</blockquote>
{{/if}}

{{#if (and strGeography (ne strGeography ""))}}
<h2>Geography</h2>
{{{strGeography}}}
{{/if}}

{{#if (and strGovernment (ne strGovernment ""))}}
<h2>Government</h2>
{{{strGovernment}}}
{{/if}}

{{#if (and strTrade (ne strTrade ""))}}
<h2>Trade</h2>
{{{strTrade}}}
{{/if}}

{{#if (and strCulture (ne strCulture ""))}}
<h2>Culture</h2>
{{{strCulture}}}
{{/if}}

{{#if (and strReligion (ne strReligion ""))}}
<h2>Religion</h2>
{{{strReligion}}}
{{/if}}

{{#if (and strHistory (ne strHistory ""))}}
<h2>History</h2>
{{{strHistory}}}
{{/if}}

{{#if (and strNotableLocations (ne strNotableLocations ""))}}
<h2>Notable Locations</h2>
{{{strNotableLocations}}}
{{/if}}
