{{#if breadcrumbHtml}}
{{{breadcrumbHtml}}}
{{/if}}
<p></p>
{{#if preparationHtml}}
{{{preparationHtml}}}
{{/if}}
{{#if areaSectionHtml}}
{{{areaSectionHtml}}}
{{/if}}
{{#if encounterHtml}}
{{{encounterHtml}}}
{{/if}}
{{#if conversationsHtml}}
{{{conversationsHtml}}}
{{/if}}
