{{#if (or 
    (and strSceneLocation (ne strSceneLocation ""))
    (and strSceneParent (ne strSceneParent ""))
    (and strSceneArea (ne strSceneArea ""))
    (and strSceneEnvironment (ne strSceneEnvironment ""))
    (and strSceneTitle (ne strSceneTitle "")))}}
<h5>
    {{~#if (and strSceneLocation (ne strSceneLocation ""))}}{{strSceneLocation}}{{/if~}}
    {{~#if (and strSceneParent (ne strSceneParent ""))}}{{#if (and strSceneLocation (ne strSceneLocation ""))}} • {{/if}}{{strSceneParent}}{{/if~}}
    {{~#if (and strSceneArea (ne strSceneArea ""))}}{{#if (or (and strSceneLocation (ne strSceneLocation "")) (and strSceneParent (ne strSceneParent "")))}} • {{/if}}{{strSceneArea}}{{/if~}}
    {{~#if (and strSceneEnvironment (ne strSceneEnvironment ""))}} ({{strSceneEnvironment}}){{/if~}}
    {{~#if (and strSceneTitle (ne strSceneTitle ""))}}{{#if (or (and strSceneLocation (ne strSceneLocation "")) (and strSceneParent (ne strSceneParent "")) (and strSceneArea (ne strSceneArea "")))}} • {{/if}}{{strSceneTitle}}{{/if~}}
</h5>
{{/if}}

<h2>Preparation</h2>
{{#if (and strPrepEncounter (ne strPrepEncounter ""))}}
    <h4>Encounter Logistics</h4>
    <h5>Monsters and NPCs</h5>
    {{{strPrepEncounter}}}
    {{#if (and strPrepEncounterDetails (ne strPrepEncounterDetails ""))}}
    <h5>Encounter Details</h5>
    {{{strPrepEncounterDetails}}}
    {{/if}}
{{/if}}

{{#if (and strPrepRewards (ne strPrepRewards "") (ne strPrepRewards "<ul>None</ul>"))}}
    <h4>Rewards and Treasure</h4>
    {{{strPrepRewards}}}
{{/if}}

{{#if (and strPrepSetup (ne strPrepSetup ""))}}
    <h4>Summary and Setup</h4>
    {{{strPrepSetup}}}
{{/if}}

{{#if (and strSceneTitle (ne strSceneTitle ""))}}
<h2>{{strSceneTitle}}</h2>
{{/if}}

{{#if (and strContextIntro (ne strContextIntro ""))}}
{{strContextIntro}}
{{/if}}

{{#if (or 
    (and strCardDescriptionPrimary (ne strCardDescriptionPrimary ""))
    (and strCardImage (ne strCardImage "") (ne strCardImage "null")))}}
    <blockquote>
        {{#if (and strCardTitle (ne strCardTitle ""))}}
        <h4>{{strCardTitle}}</h4>
        {{/if}}
        {{#if (and strCardDescriptionPrimary (ne strCardDescriptionPrimary ""))}}
        <p>{{strCardDescriptionPrimary}}</p>
        {{/if}}
        {{#if (and strCardImage (ne strCardImage "") (ne strCardImage "null"))}}
            {{#if (and strCardImageTitle (ne strCardImageTitle ""))}}
            <h5>{{strCardImageTitle}}</h5>
            {{/if}}
            <img src="{{{strCardImage}}}">
            <hr>
        {{/if}}
        {{#if (and strCardDescriptionSecondary (ne strCardDescriptionSecondary ""))}}
        <p>{{strCardDescriptionSecondary}}</p>
        {{/if}}
        {{#if (and strCardDialogue (ne strCardDialogue "") (ne strCardDialogue " "))}}
            {{{strCardDialogue}}}
        {{/if}}
    </blockquote>
{{/if}}

{{#if (and strContextAdditionalNarration (ne strContextAdditionalNarration ""))}}
    <h4>Extended Narrative</h4>
    {{{strContextAdditionalNarration}}}
{{/if}}

{{#if (and strContextAtmosphere (ne strContextAtmosphere ""))}}
    <h4>Atmosphere and Environments</h4>
    {{{strContextAtmosphere}}}
{{/if}}

{{#if (and strContextGMNotes (ne strContextGMNotes ""))}}
    <h4>Notes and Strategies</h4>
    {{{strContextGMNotes}}}
{{/if}}
