<div class="blacksmith-menubar-container">
    {{!-- LEFT ZONE --}}
    <div class="blacksmith-menubar-left">
        {{#each toolsByZone.left}}
        <div class="button {{name}} button-active" data-tooltip="{{#if tooltip}}{{tooltip}}{{else}}{{title}}{{/if}}" data-tool="{{name}}">
            <i class="{{icon}}"></i>
            {{#if (eq name "settings")}}
            {{else if (eq name "refresh")}}
            {{else}}
            <span class="{{name}}-label">{{title}}</span>
            {{/if}}
        </div>
        {{/each}}
    </div>

    {{!-- MIDDLE ZONE --}}
    <div class="blacksmith-menubar-middle">
        {{!-- General buttons (all players/gm) --}}
        {{#each toolsByZone.middle.general}}
        <div class="button {{name}} button-active" data-tooltip="{{#if tooltip}}{{tooltip}}{{else}}{{title}}{{/if}}" data-tool="{{name}}">
            <i class="{{icon}}"></i>
            <span class="{{name}}-label">{{title}}</span>
        </div>
        {{/each}}
        
        {{!-- Divider between general and leader buttons --}}
        {{#if (and toolsByZone.middle.general.length toolsByZone.middle.leader.length)}}
        <div class="menu-divider line"></div>
        {{/if}}
        
        {{!-- Leader buttons (leader/gm) --}}
        {{#each toolsByZone.middle.leader}}
        <div class="button {{name}} button-active" data-tooltip="{{#if tooltip}}{{tooltip}}{{else}}{{title}}{{/if}}" data-tool="{{name}}">
            <i class="{{icon}}"></i>
            <span class="{{name}}-label">{{title}}</span>
        </div>
        {{/each}}
        
        {{!-- Divider between leader and gm buttons --}}
        {{#if (and (or toolsByZone.middle.general.length toolsByZone.middle.leader.length) toolsByZone.middle.gm.length)}}
        <div class="menu-divider line"></div>
        {{/if}}
        
        {{!-- GM buttons (gm only) --}}
        {{#each toolsByZone.middle.gm}}
        <div class="button {{name}} button-active" data-tooltip="{{#if tooltip}}{{tooltip}}{{else}}{{title}}{{/if}}" data-tool="{{name}}">
            <i class="{{icon}}"></i>
            <span class="{{name}}-label">{{title}}</span>
        </div>
        {{/each}}

        {{#if notifications.length}}
            {{!-- DIVIDER: line, dotted, double, groove, ridge --}}
            <div class="menu-divider line"></div>
            <div class="menu-notifications">
                {{#each notifications}}
                <div class="menu-notification-item" data-notification-id="{{id}}">
                    <i class="{{icon}}"></i>
                    <span class="notification-content" data-tooltip="{{text}}">{{text}}</span>
                    <button class="notification-close" data-notification-id="{{id}}">&times;</button>
                </div>
                {{/each}}
            </div>
        {{/if}}
    </div>

    {{!-- RIGHT ZONE --}}
    <div class="blacksmith-menubar-right">
        {{!-- LEADER --}}
        <div class="button leader-section {{#if isGM}}button-active{{else}}tool-readonly{{/if}}" data-tooltip="{{#if isGM}}Set the session leader.{{else}}Session leader.{{/if}}" data-tool="leader-section">
            <i class="fas fa-crown"></i>
            <span class="party-leader">{{leaderText}}</span>
        </div>
        {{!-- MOVEMENT --}}
        <div class="button movement {{#if isGM}}button-active{{else}}tool-readonly{{/if}}" data-tooltip="{{#if isGM}}Change Party Movement{{else}}Only the GM can change movement{{/if}}" data-tool="movement">
            <i class="fas {{currentMovement.icon}} movement-icon"></i>
            <span class="movement-label">{{currentMovement.name}}</span>
        </div>
        {{!-- SESSION TIMER --}}
        <div class="button timer-section default {{#if isGM}}button-active{{else}}tool-readonly{{/if}} {{#if isWarning}}warning{{/if}} {{#if isExpired}}expired{{/if}}" data-tooltip="{{#if isGM}}Set the session time.{{else}}Session time.{{/if}}" style="--progress: {{timerProgress}}%" data-tool="timer-section">
            <i class="fas fa-eclipse"></i>
            <span class="session-timer">{{timerText}}</span>
        </div>
    </div>
</div> 