{{!-- **************** PRINMARY BAR **************** --}}

<div class="blacksmith-menubar-container {{#if secondaryBar.isOpen}}has-secondary{{/if}}">
    {{!-- LEFT ZONE --}}
    <div class="blacksmith-menubar-left">
        {{#each toolsByZone.left}}
            {{#each this}}
                {{#each tools}}
                <div class="button {{name}} button-active{{#if (and toggleable active)}} tool-active{{/if}}" data-tooltip="{{#if tooltip}}{{tooltip}}{{else}}{{title}}{{/if}}" title="{{#if tooltip}}{{tooltip}}{{else}}{{title}}{{/if}}" data-tool="{{name}}"{{#if (or buttonNormalTint buttonSelectedTint)}} style="{{#if buttonNormalTint}}--button-normal-tint: {{buttonNormalTint}};{{/if}}{{#if buttonSelectedTint}} --button-selected-tint: {{buttonSelectedTint}};{{/if}}"{{/if}}>
                    <i class="{{icon}}" {{#if iconColor}}style="color: {{iconColor}};"{{/if}}></i>
                    {{#if (eq name "settings")}}
                    {{else if (eq name "refresh")}}
                    {{else}}
                    <span class="{{name}}-label">{{title}}</span>
                    {{/if}}
                </div>
                {{/each}}
            {{/each}}
        {{/each}}
    </div>

    {{!-- MIDDLE ZONE --}}
    <div class="blacksmith-menubar-middle">
        <div class="blacksmith-menubar-middle-tools">
            {{#each toolsByZone.middle}}
                {{#each this}}
                    {{#each tools}}
                    <div class="button {{name}} button-active{{#if (and toggleable active)}} tool-active{{/if}}" data-tooltip="{{#if tooltip}}{{tooltip}}{{else}}{{title}}{{/if}}" title="{{#if tooltip}}{{tooltip}}{{else}}{{title}}{{/if}}" data-tool="{{name}}"{{#if (or buttonNormalTint buttonSelectedTint)}} style="{{#if buttonNormalTint}}--button-normal-tint: {{buttonNormalTint}};{{/if}}{{#if buttonSelectedTint}} --button-selected-tint: {{buttonSelectedTint}};{{/if}}"{{/if}}>
                        <i class="{{icon}}" {{#if iconColor}}style="color: {{iconColor}};"{{/if}}></i>
                        <span class="{{name}}-label">{{title}}</span>
                    </div>
                    {{/each}}
                {{/each}}
                {{#unless @last}}
                <div class="menu-divider line"></div>
                {{/unless}}
            {{/each}}
            {{!-- Overflow "..." button: shown via JS when middle zone content overflows --}}
            <div class="button menubar-overflow button-active" data-tool="menubar-overflow" title="More tools" style="display: none;">
                <i class="fa-solid fa-ellipsis"></i>
            </div>
        </div>

        {{!-- NOTIFICATIONS --}}
        {{#if notifications.length}}
            <div class="menu-divider line"></div>
            <div class="menu-notifications">
                {{#each notifications}}
                <div class="menu-notification-item" data-notification-id="{{id}}">
                    <i class="{{icon}}"></i>
                    <span class="notification-content" data-tooltip="{{text}}">{{text}}</span>
                    <button class="notification-close" data-notification-id="{{id}}">&times;</button>
                </div>
                {{/each}}
            </div>
        {{/if}}
    </div>

    {{!-- RIGHT ZONE --}}
    <div class="blacksmith-menubar-right">
        {{!-- LEADER --}}
        <div class="button leader-section {{#if isGM}}button-active{{else}}tool-readonly{{/if}}" data-tooltip="{{#if isGM}}Set the session leader.{{else}}Session leader.{{/if}}" data-tool="leader-section">
            <i class="fas fa-crown"></i>
            <span class="party-leader">{{leaderText}}</span>
        </div>
        {{!-- MOVEMENT --}}
        <div class="button movement {{#if isGM}}button-active{{else}}tool-readonly{{/if}}" data-tooltip="{{#if isGM}}Change Party Movement{{else}}Only the GM can change movement{{/if}}" data-tool="movement">
            <i class="fas {{currentMovement.icon}} movement-icon"></i>
            <span class="movement-label">{{currentMovement.name}}</span>
        </div>
        {{!-- SESSION TIMER --}}
        <div class="button timer-section default {{#if isGM}}button-active{{else}}tool-readonly{{/if}} {{#if isWarning}}warning{{/if}} {{#if isExpired}}expired{{/if}}" data-tooltip="{{#if isGM}}Set the session time.{{else}}Session time.{{/if}}" style="--progress: {{timerProgress}}%" data-tool="timer-section">
            <i class="fas fa-eclipse"></i>
            <span class="session-timer">{{timerText}}</span>
        </div>
        {{!-- DYNAMIC RIGHT ZONE TOOLS --}}
        {{#each toolsByZone.right}}
            {{#each this}}
                {{#each tools}}
                <div class="button {{name}} button-active{{#if (and toggleable active)}} tool-active{{/if}}" data-tooltip="{{#if tooltip}}{{tooltip}}{{else}}{{title}}{{/if}}" title="{{#if tooltip}}{{tooltip}}{{else}}{{title}}{{/if}}" data-tool="{{name}}"{{#if (or buttonNormalTint buttonSelectedTint)}} style="{{#if buttonNormalTint}}--button-normal-tint: {{buttonNormalTint}};{{/if}}{{#if buttonSelectedTint}} --button-selected-tint: {{buttonSelectedTint}};{{/if}}"{{/if}}>
                    <i class="{{icon}}" {{#if iconColor}}style="color: {{iconColor}};"{{/if}}></i>
                    <span class="{{name}}-label">{{title}}</span>
                </div>
                {{/each}}
            {{/each}}
        {{/each}}
    </div>
</div>

{{!-- **************** SECONDARY BAR **************** --}}
{{#if secondaryBar.isOpen}}
<div class="blacksmith-menubar-secondary" 
     data-bar-type="{{secondaryBar.type}}"
     style="height: {{secondaryBar.height}}px;">
    {{#if secondaryBar.hasCustomTemplate}}
        {{!-- Custom template (e.g., combat bar) --}}
    {{#if (eq secondaryBar.type "combat")}}
        {{> "menubar-combat" secondaryBar.data}}
        {{else}}
            {{!-- Dynamic custom template --}}
            {{> (lookup . (concat "menubar-" secondaryBar.type)) secondaryBar.data}}
        {{/if}}
    {{else}}
        {{!-- Default tool-based template --}}
        {{> "menubar-secondary-default" secondaryBar}}
    {{/if}}
</div>
{{/if}}
