<div class="movement-config-content">
    <div class="movement-types">
        {{#each MovementTypes}}
            <div class="movement-type" data-movement-id="{{this.id}}">
                <div class="movement-type-layout">
                    <div class="movement-type-icon">
                        <i class="fas {{this.icon}}"></i>
                    </div>
                    <div class="movement-type-content">
                        <div class="movement-type-name">{{this.name}}</div>
                        <div class="movement-type-description">{{this.description}}</div>
                    </div>
                </div>
            </div>
        {{/each}}
        <div class="spacing-control">
            <div class="spacing-label"><i class="fas fa-people-arrows"></i> Token Spacing: <span class="spacing-value">{{currentSpacing}}</span></div>
            <div class="movement-description">Controls the space between tokens in Conga and Follow modes.</div>
            <input type="range" class="token-spacing-slider" min="0" max="3" value="{{currentSpacing}}" />
        </div>

    </div>
</div> 

