{{!-- Roll Dialog Template --}}
<div class="roll-dialog foundry-style-window">
  <div class="roll-header">
    <h2>{{rollTitle}}</h2>
    <div class="roll-info">
      <span><strong>Actor:</strong> {{actorName}}</span>
      <span><strong>Type:</strong> {{rollType}}</span>
    </div>
  </div>
  <div class="roll-body">
    <div class="roll-section">
      <h3>Roll Options</h3>
      <div class="roll-options">


        <label>{{rollFormula}} </label>
        <label>
          Situational Bonus: <input type="number" name="situational-bonus" value="0" min="-20" max="20">
        </label>
      </div>
    </div>
    
    <div class="roll-section">
      <h3>Roll Details</h3>
      <div class="roll-details">
        <p><strong>Base Roll:</strong> {{baseRoll}}</p>
        <p><strong>Ability Modifier:</strong> {{abilityMod}}</p>
        <p><strong>Proficiency Bonus:</strong> {{proficiencyBonus}}</p>
        <p><strong>Other Modifiers:</strong> {{otherModifiers}}</p>
      </div>
    </div>
  </div>
  
  <div class="roll-footer">
    <button type="button" class="roll-btn roll-disadvantage">DISADVANTAGE</button>
    <button type="button" class="roll-btn roll-normal">NORMAL</button>
    <button type="button" class="roll-btn roll-advantage">ADVANTAGE</button>
  </div>
</div>
