<div class="actor-selector-container">
    {{#each actors}}
        {{#if this.hasOwner}}
            <div class="player-card disposition-friendly" data-actor-id="{{this.id}}">
                <img src="{{this.actor.img}}" alt="{{this.name}}">
                <div class="player-card-details">
                    <div class="character-name">{{this.name}}</div>
                    <div class="character-details character-rollup">Level {{this.actor.system.details.level}} {{this.actor.system.details.class}}</div>
                    <div class="character-details character-extra">{{this.actor.system.attributes.hp.value}}/{{this.actor.system.attributes.hp.max}} HP</div>
                </div>
            </div>
        {{/if}}
    {{/each}}
</div>
