<span style="visibility: hidden">coffeepub-hide-header</span>
{{#unless hideHeader}}
<div class="dnd5e chat-card item-card cpb-chat-card cpb-item-card" data-actor-id="{{actorId}}">
    <header class="card-header flexrow cpb-card-header">
        {{#if label}}
            <h3 class="item-name"><i class="fas fa-dice"></i> {{label}}</h3>
        {{else}}
            {{#if hasMultipleGroups}}
                <h3 class="item-name"><i class="fas fa-people-arrows"></i> {{skillName}} VS {{#if defenderSkillName}}{{defenderSkillName}}{{else}}{{skillName}}{{/if}}</h3>
            {{else}}
                <h3 class="item-name"><i class="fas fa-dice"></i> {{skillName}}</h3>
            {{/if}}
        {{/if}}
    </header>
    <div class="card-content cpb-card-content">

        {{#if description}}
        <div class="gm-description cpb-gm-description">
            <p>{{{description}}}</p>
        </div>
        {{/if}}

        {{!-- FINAL RESULTS --}}  
        {{!-- Contested Roll --}}  
        {{#if hasMultipleGroups}}
            {{#if contestedRoll}}
                {{!-- <div class="cpb-card-section-header"><i class="fas fa-ballot"></i> Contest Result</div> --}} 
                {{#if contestedRoll.isTie}}
                    <div class="cpb-roll-result-tie-container" data-tooltip="({{contestedRoll.group1Highest}} vs {{contestedRoll.group2Highest}})">
                        <div class="cpb-roll-result-tie-text"><i class="fas fa-shield-exclamation"></i> Stalemate</div>
                    </div>
                {{else}}
                    {{#if (eq contestedRoll.winningGroup 1)}}
                        <div class="cpb-roll-result-success-container" data-tooltip="({{contestedRoll.group1Highest}} vs {{contestedRoll.group2Highest}})">
                            <div class="cpb-roll-result-success-text"><i class="fas fa-swords" data-tooltip="Challengers"></i> Challengers Win</div>
                        </div>
                    {{else}}
                        <div class="cpb-roll-result-failure-container" data-tooltip="({{contestedRoll.group1Highest}} vs {{contestedRoll.group2Highest}})">
                            <div class="cpb-roll-result-failure-text"><i class="fas fa-shield-halved" data-tooltip="Challengers"></i> Defenders Win</div>
                        </div>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}

        {{!-- Group Roll --}}  
        {{#if (not hasMultipleGroups)}}
            {{#if isGroupRoll}}
            {{#if dc}}
                {{log "Group Roll Data:" allRollsComplete successCount totalCount groupSuccess}}
                {{#if allRollsComplete}}
                    {{!-- <div class="cpb-card-section-header"><i class="fas fa-ballot"></i> Group Result</div> --}} 
                    {{#if groupSuccess}}
                        <div class="cpb-roll-result-success-container">
                            <div class="cpb-roll-result-success-text" data-tooltip="({{successCount}}/{{totalCount}} succeeded)">GROUP SUCCESS</div>
                        </div>
                    {{else}}
                        <div class="cpb-roll-result-failure-container">
                            <div class="cpb-roll-result-failure-text" data-tooltip="({{successCount}}/{{totalCount}} succeeded)">GROUP FAILURE</div>
                        </div>
                    {{/if}}
                {{/if}}
            {{/if}}
            {{/if}}
        {{/if}}

        {{!-- REQUESTED ROLLS --}}  
        <div class="cpb-skill-check-buttons">

            {{!-- DC Detaila --}}
            {{#if dc}}
            {{#if showDC}}
                <div class="cpb-card-section-subheader">DC {{dc}} {{#if isGroupRoll}} Group Roll{{/if}}</div>
            {{/if}}
            {{/if}}

            {{!-- Group 1 Players --}}
            {{#if hasMultipleGroups}}
                <div class="cpb-card-section-header"><i class="fas fa-swords" data-tooltip="Challengers"></i> Challengers</div>
            {{else}}
                <div class="cpb-card-section-header"><i class="fas fa-dice-d20"></i> Requested Rolls</div>
            {{/if}}
            {{#each actors}}
                {{#if (eq this.group 1)}}
                <div class="cpb-skill-check-actor">
                    {{#if this.result}}
                        <div class="cpb-roll-result{{#if this.result.isCritical}} cpb-chat-critical{{/if}}{{#if this.result.isFumble}} cpb-chat-fumble{{/if}}">
                            <span class="cpb-actor-name">{{this.name}}</span>
                            <span class="cpb-roll-total" data-tooltip="{{#if this.result.verboseFormula}}{{this.result.verboseFormula}}{{else}}{{this.result.formula}}{{/if}}">
                                {{this.result.total}}
                                {{#if ../dc}}
                                    {{#if (gte this.result.total ../dc)}}
                                        <i class="fas fa-check cpb-roll-success-icon"></i>
                                    {{else}}
                                        <i class="fas fa-times cpb-roll-failure-icon"></i>
                                    {{/if}}
                                {{/if}}
                            </span>
                        </div>
                    {{else}}
                        <div class="pending-roll cpb-roll-result">
                            <button class="cpb-skill-roll" data-token-id="{{this.id}}" data-actor-id="{{this.actorId}}" data-type="{{../rollType}}" data-value="{{../skillAbbr}}">
                                <i class="fas fa-dice-d20"></i>&nbsp;{{this.name}}
                            </button>
                        </div>
                    {{/if}}
                </div>
                {{/if}}
            {{/each}}

            {{!-- VS Separator if both groups are present --}}
            {{#if hasMultipleGroups}}
                <div class="cpb-versus-separator">
                    <span class="cpb-versus-skill">{{skillName}}</span>
                    - VS -
                    <span class="cpb-versus-skill">{{#if defenderSkillName}}{{defenderSkillName}}{{else}}{{skillName}}{{/if}}</span>
                </div>
            {{/if}}

            {{!-- Group 2 Players --}}
            {{#if hasMultipleGroups}}
                <div class="cpb-card-section-header"><i class="fas fa-shield-halved" data-tooltip="Defenders"></i> Defenders</div>
            {{/if}}
            {{#each actors}}
                {{#if (eq this.group 2)}}
                <div class="cpb-skill-check-actor">
                    {{#if this.result}}
                        <div class="cpb-roll-result{{#if this.result.isCritical}} cpb-chat-critical{{/if}}{{#if this.result.isFumble}} cpb-chat-fumble{{/if}}">
                            <span class="cpb-actor-name">{{this.name}}</span>
                            <span class="cpb-roll-total" data-tooltip="{{#if this.result.verboseFormula}}{{this.result.verboseFormula}}{{else}}{{this.result.formula}}{{/if}}">
                                {{this.result.total}}
                                {{#if ../dc}}
                                    {{#if (gte this.result.total ../dc)}}
                                        <i class="fas fa-check cpb-roll-success-icon"></i>
                                    {{else}}
                                        <i class="fas fa-times cpb-roll-failure-icon"></i>
                                    {{/if}}
                                {{/if}}
                            </span>
                        </div>
                    {{else}}
                        <div class="pending-roll cpb-roll-result">
                            <button class="cpb-skill-roll" data-token-id="{{this.id}}" data-actor-id="{{this.actorId}}" data-type="{{#if ../defenderRollType}}{{../defenderRollType}}{{else}}{{../rollType}}{{/if}}" data-value="{{#if ../defenderSkillAbbr}}{{../defenderSkillAbbr}}{{else}}{{../skillAbbr}}{{/if}}">
                                <i class="fas fa-dice-d20"></i>&nbsp;{{this.name}}
                            </button>
                        </div>
                    {{/if}}
                </div>
                {{/if}}
            {{/each}}
        </div>

        {{!-- ROLL DETAILS --}}  

        {{#if skillDescription}}
        <div class="cpb-card-section-header">About this Roll</div>
        <div class="cpb-skill-description">
            <p>{{{skillDescription}}}</p>
            {{#if skillLink}}<p>{{{skillLink}}}</p>{{/if}}
        </div>
        {{/if}}


    </div>
</div>
{{/unless}} 