<span style="visibility: hidden">coffeepub-hide-header</span>
{{#unless hideHeader}}
<div class="dnd5e chat-card item-card" data-actor-id="{{actorId}}">
    <header class="card-header flexrow">
        <h3 class="item-name"><i class="fas fa-dice-d20"></i> {{#if dc}}DC {{dc}}{{/if}} {{skillName}} Check</h3>
    </header>
    <div class="card-content">
        {{#if label}}<h3>{{label}}</h3>{{/if}}
        {{#if description}}
        <div class="gm-description">
            <p>{{{description}}}</p>
        </div>
        {{/if}}

        {{#if skillDescription}}
        <h3>Details</h3>
        <div class="skill-description">
            <p>{{{skillDescription}}}</p>
            <p>{{{skillLink}}}</p>
        </div>
        {{/if}}
        
        <div class="skill-check-buttons">
            {{#each actors}}
            <div class="skill-check-actor">
                {{#if this.result}}
                    <div class="roll-result">
                        <span class="actor-name">{{this.name}}</span>
                        <span class="roll-total" title="{{this.result.formula}}">
                            {{this.result.total}}
                            {{#if ../dc}}
                                {{#if (gte this.result.total ../dc)}}
                                    <i class="fas fa-check" style="color: #18520b;"></i>
                                {{else}}
                                    <i class="fas fa-times" style="color: #aa0200;"></i>
                                {{/if}}
                            {{/if}}
                        </span>
                    </div>
                {{else}}
                    <button class="skill-roll" data-actor-id="{{this.id}}" data-type="{{../rollType}}" data-value="{{../skillAbbr}}">
                        <i class="fas fa-dice-d20"></i> {{this.name}}
                    </button>
                {{/if}}
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{/unless}} 