<span style="visibility: hidden">coffeepub-hide-header</span>
<div class="blacksmith-card theme-default">
    <div class="section-header">
        <i class="fas fa-dice-d20"></i> {{actorName}} - {{skillName}} Check
    </div>
    <div class="section-content">
        <div class="skill-check-roll">
            <button class="skill-roll" data-actor-id="{{actorId}}" data-skill="{{skillAbbr}}">
                <i class="fas fa-dice-d20"></i> Roll {{skillName}}
            </button>
        </div>
    </div>
</div> 