<span style="visibility: hidden">coffeepub-hide-header</span>
<div class="vote-card">




    {{!-- HEADER --}}
    <div class="vote-header">
        <h3>
            <i class="fas fa-check-to-slot"></i>
            {{#if (eq vote.type "leader")}}
                Leader Election
            {{else if (eq vote.type "yesno")}}
                Yes or No
            {{else if (eq vote.type "endtime")}}
                End Time
            {{else if (eq vote.type "engagement")}}
                Party Plan
            {{else if (eq vote.type "custom")}}
                {{vote.title}}
            {{/if}}
       </h3>


        {{#if vote.isActive}}
            <div class="vote-status active" {{#if currentUserIsGM}}data-tooltip="{{getVoterList vote.votes}}"{{/if}}>
                {{#if progress}}
                    {{progress.current}} of {{progress.total}} Voted
                {{/if}}
            </div>
        {{else}}
            <div class="vote-status complete" {{#if currentUserIsGM}}data-tooltip="{{getVoteDetails vote.votes vote.options}}"{{/if}}>
                <i class="fas fa-check-circle"></i>
            </div>
        {{/if}}
    </div>

    <div class="vote-content">
        {{#if vote.isActive}}
            <div class="vote-options">
                {{#each vote.options}}
                    <div class="vote-option">
                        {{#if (eq ../vote.votes.[../userId] this.id)}}
                            <div class="vote-status-message">
                                <i class="fas fa-check"></i> Voted
                            </div>
                        {{else}}
                            <button class="vote-button" data-option-id="{{this.id}}">
                                {{this.name}}
                            </button>
                        {{/if}}
                    </div>
                {{/each}}
            </div>

            <div class="vote-controls">
                <button class="close-vote">Close Vote</button>
            </div>
        {{else}}
            {{#if vote.results}}
                <div class="vote-results">
                    <h4>Results:</h4>
                    {{#each vote.results.tally as |result optionId|}}
                        <div class="result-row">
                            <span class="option-name">{{result.name}}</span>
                            <span class="vote-count">{{result.count}} {{#if (eq result.count 1)}}vote{{else}}votes{{/if}}</span>
                            {{#if (eq optionId ../vote.results.winner)}}
                                {{#if (eq ../vote.type "leader")}}
                                    <i class="fas fa-crown winner-icon"></i>
                                {{else}}
                                    <i class="fas fa-star winner-icon"></i>
                                {{/if}}
                            {{/if}}
                        </div>
                    {{/each}}
                    <div class="total-votes">
                        Total Votes: {{vote.results.totalVotes}}
                    </div>
                </div>
            {{/if}}
        {{/if}}
    </div>
</div> 