<span style="visibility: hidden">coffeepub-hide-header</span>
<div class="vote-card">
    <div class="vote-header">
        <h3>
            {{#if (eq vote.type "leader")}}
                Leader Vote
            {{/if}}
        </h3>
        {{#if vote.isActive}}
            <div class="vote-status active">
                {{#if progress}}
                    {{progress.current}} of {{progress.total}} Voted
                {{/if}}
            </div>
        {{else}}
            <div class="vote-status complete">Complete</div>
        {{/if}}
    </div>

    <div class="vote-content">
        {{#if vote.isActive}}
            {{#if (eq vote.type "leader")}}
                <div class="vote-options">
                    {{#each vote.options}}
                        <div class="vote-option">
                            {{#if (eq ../vote.votes.[../userId] this.id)}}
                                <div class="vote-status-message">
                                    <i class="fas fa-check"></i> Voted
                                </div>
                            {{else}}
                                <button class="vote-button" data-option-id="{{this.id}}">
                                    {{this.name}}
                                </button>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            {{/if}}

            <div class="vote-controls">
                <button class="close-vote">Close Vote</button>
            </div>
        {{else}}
            {{#if vote.results}}
                <div class="vote-results">
                    <h4>Results:</h4>
                    {{#each vote.results.tally as |result optionId|}}
                        <div class="result-row">
                            <span class="option-name">{{result.name}}</span>
                            <span class="vote-count">{{result.count}} {{#if (eq result.count 1)}}vote{{else}}votes{{/if}}</span>
                            {{#if (eq optionId ../vote.results.winner)}}
                                <i class="fas fa-crown winner-icon"></i>
                            {{/if}}
                        </div>
                    {{/each}}
                    <div class="total-votes">
                        Total Votes: {{vote.results.totalVotes}}
                    </div>
                </div>
            {{/if}}
        {{/if}}
    </div>
</div> 