    {{!-- ----- MACROS ----- --}}
    <div id="blacksmith-dashboard-container-macros" class="blacksmith-dashboard-wrapper">
        
		Macros

    </div>
    
    <div id="blacksmith-dashboard-container-character" class="blacksmith-dashboard-wrapper">

        {{!BEGIN -- DASHBOARD CHARACTER -- }}
     
			<div id="blacksmith-dashboard-content">

				<div class="image-stack">
					<div class="image-stack__item image-stack__item--top">
						<img class="crier-token-background-{{tokenBackground}} under" style="width: {{tokenScale}}%;" src="{{portrait}}" />
					</div>
					{{#unless isNPC}}
						<div class="image-stack__item image-stack__item--bottom">
							<img class="over" style="width: {{tokenScale}}%;" src="modules/coffee-pub-crier/images/blood-{{bloodyPortraitNumber}}.webp" />
						</div>
					{{/unless}}
				</div>

			</div>

			<div id="#blacksmith-dashboard-hp-container">
				{{#if isHealthy}}
					<div title="Current Health: {{attributeHP}} - Healthy" id="hp-progress-healthy-cardsdark" style="width:{{attributehpprogress}}%"></div>
				{{/if}}
				{{#if isHurt}}
					<div title="Current Health: {{attributeHP}} - Wounded" id="hp-progress-hurt-cardsdark" style="width:{{attributehpprogress}}%"></div>
				{{/if}}			
				{{#if isDying}}
					<div title="Current Health: {{attributeHP}} - Dying" id="hp-progress-dying-cardsdark" style="width:{{attributehpprogress}}%"></div>
				{{/if}}
				{{#if isCritical}}
					<div title="Current Health: {{attributeHP}} - Critical" id="hp-progress-critical-cardsdark" style="width:{{attributehpprogress}}%"></div>
				{{/if}}
			
			</div>		



        {{!END -- DASHBOARD CHARACTER -- }}

    </div>
    {{!-- ----- ACTIONS ----- --}}
    <div id="blacksmith-dashboard-container-actions" class="blacksmith-dashboard-wrapper">
		
		Actions
		
    </div>



