{{!-- XP Distribution Window Template --}}
<div class="xp-distribution foundry-style-window">
  <div class="xp-header-sticky">
    <div class="xp-header">
      <i class="fas fa-swords"></i>
      <span>XP Overview</span>
    </div>
    <div class="xp-summary-row">
      <div class="xp-summary-item"><span class="label">Total XP</span><span>{{xpData.totalXp}}</span></div>
      <div class="xp-summary-item"><span class="label">Distribution Size</span><span>{{xpData.partySize}}</span></div>
      <div class="xp-summary-item"><span class="label">Multiplier</span><span>{{xpData.partyMultiplier}}x</span></div>
      <div class="xp-summary-item"><span class="label">Adjusted</span><span>{{xpData.adjustedTotalXp}}</span></div>
      <div class="xp-summary-item">
        <span class="label">{{#if narrativeMode}}Total XP{{else}}Per Player{{/if}}</span>
        <span class="calculated-total" id="xp-total-display">{{#if narrativeMode}}0{{else}}{{xpData.xpPerPlayer}}{{/if}}</span>
      </div>
    </div>
  </div>
  <div class="xp-body-scroll">
    {{#if narrativeMode}}
    <div class="xp-section">
      <div class="xp-section-header"><i class="fas fa-users"></i> Narrative/Goal-Based XP</div>
      <div class="xp-player-list">
        {{#each xpData.players}}
        <div class="xp-player-row">
          <img class="player-portrait" src="{{actor.img}}" alt="{{actor.name}}" />
          <span class="player-name">{{actor.name}}</span>
          <span class="plus">XP:</span>
          <input type="number" class="player-narrative-xp" name="player-narrative-xp-{{actorId}}" value="0" min="0" max="100000" placeholder="0">
        </div>
        {{/each}}
      </div>
    </div>
    {{else}}
      <div class="xp-section">
        <div class="xp-section-header"><i class="fas fa-dragon"></i> Monster Resolutions</div>
        <div class="xp-table-wrapper" data-table-type="monsters">
          <div class="xp-table-header">
            <span class="xp-table-col-1 xp-table-col-header">Name</span>
            <span class="xp-table-col-2 xp-table-col-header">CR</span>
            <span class="xp-table-col-3 xp-table-col-header">Resolution</span>
            <span class="xp-table-col-4 xp-table-col-header">XP</span>
          </div>
          <div class="xp-table-body">
            {{#each xpData.monsters}}
            <div class="xp-table-row" data-row-type="monster" data-monster-id="{{id}}">
              <span class="xp-table-col-1" data-field="name">{{name}}</span>
              <span class="xp-table-col-2" data-field="cr">CR {{cr}}</span>
              <span class="xp-table-col-3" data-field="resolution">
                <div class="resolution-icons" role="group" aria-label="Monster Resolution">
                  {{#each ../resolutionTypes}}
                  <span class="resolution-icon {{#if (eq ../resolutionType this)}}active{{else}}dimmed{{/if}}"
                        data-monster-id="{{../id}}"
                        data-resolution="{{this}}"
                        data-tooltip="{{prettifyResolution this}}"
                        aria-label="{{prettifyResolution this}}"
                        tabindex="0">
                    {{#if (eq this "DEFEATED")}}<i class="fas fa-skull"></i>{{/if}}
                    {{#if (eq this "NEGOTIATED")}}<i class="fas fa-people-arrows"></i>{{/if}}
                    {{#if (eq this "ESCAPED")}}<i class="fas fa-running"></i>{{/if}}
                    {{#if (eq this "IGNORED")}}<i class="fas fa-person-walking-arrow-loop-left"></i>{{/if}}
                    {{#if (eq this "CAPTURED")}}<i class="fas fa-person-praying"></i>{{/if}}
                    {{#if (eq this "REMOVED")}}<i class="fas fa-person-circle-xmark"></i>{{/if}}
                  </span>
                  {{/each}}
                </div>
              </span>
              <span class="xp-table-col-4" data-field="xp">{{baseXp}} x {{formatMultiplier multiplier}} = {{finalXp}}</span>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    <div class="xp-section">
      <div class="xp-section-header"><i class="fas fa-users"></i> Player Adjustments</div>
      
      <div class="xp-table-wrapper" data-table-type="players">
        <div class="xp-table-header">
          <span class="xp-table-col-1 xp-table-col-header">Name</span>
          <span class="xp-table-col-2 xp-table-col-header">Level</span>
          <span class="xp-table-col-3 xp-table-col-header">XP</span>
        </div>
      
        <div class="xp-table-body">
          {{#each xpData.players}}
          <div class="xp-table-row" data-row-type="player" data-player-id="{{actorId}}">
            <span class="xp-table-col-1" data-field="name">
              <span class="inclusion-toggle active" data-player-id="{{actorId}}" tabindex="0">
                <i class="fas fa-swords"></i>
              </span>
              <img class="player-portrait" src="{{actor.img}}" alt="{{actor.name}}" />
              <span class="player-name">{{actor.name}}</span>
            </span>

            <span class="xp-table-col-2" data-field="level">{{actor.system.details.level}}</span>

            <span class="xp-table-col-3" data-field="xp">
              <span class="player-base-xp">{{../xpData.xpPerPlayer}}</span>
              <div class="adjustment-controls">
                <i class="fas fa-square-plus adjustment-sign active" data-sign="+"></i>
                <i class="fas fa-square-minus adjustment-sign" data-sign="-"></i>
                <input type="number" class="player-adjustment" name="player-adjustment-{{actorId}}" value="0" min="0" max="10000" placeholder="0">
              </div>
              <span class="equals">=</span>
              <span class="calculated-total">{{../xpData.xpPerPlayer}}</span>
            </span>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{/if}}

    <div class="xp-section">
      <div class="xp-section-header"><i class="fas fa-info-circle"></i> Resolution Types</div>
      <div class="xp-legend-grid">
        {{#each legendTypes}}
        <div class="xp-legend-row">
          {{#if (eq key "DEFEATED")}}<i class="fas fa-skull"></i>{{/if}}
          {{#if (eq key "NEGOTIATED")}}<i class="fas fa-people-arrows"></i>{{/if}}
          {{#if (eq key "ESCAPED")}}<i class="fas fa-running"></i>{{/if}}
           {{#if (eq key "IGNORED")}}<i class="fas fa-person-walking-arrow-loop-left"></i>{{/if}}
           {{#if (eq key "CAPTURED")}}<i class="fas fa-person-praying"></i>{{/if}}
           {{#if (eq key "REMOVED")}}<i class="fas fa-person-circle-xmark"></i>{{/if}}
          <span class="legend-label">{{label}}:</span>
          <span class="legend-multiplier">{{formatMultiplier multiplier}} XP</span>
          <span class="legend-desc">{{desc}} </span>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="xp-footer">
    <button type="button" class="xp-btn cancel-xp"><i class="fas fa-times"></i> Cancel Distribution</button>
    <button type="button" class="xp-btn apply-xp"><i class="fas fa-check"></i> Distribute XP to Party</button>
  </div>
</div>
