{{!-- CHARACTER CORE  --}}
<div class="workspace-section" id="workspace-section-character-core-{{id}}">
    <h4>Character Details <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-character-core-content-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    <div id="workspace-section-character-core-content-{{id}}" class="workspace-section-content">
        {{!-- Header --}}
        <div class="workspace-section-image-container">
            <img class="workspace-section-image" src="{{actor.img}}" title="{{actor.name}}" />
            <div class="workspace-section-image-caption">
                <h6>{{actor.name}}</h6>
            </div>
        </div>

        {{!-- Class race level background --}}
        <div class="form-details">
            <div class="form-label">
                {{#if isCharacter}}
                    <span>Level {{actor.system.details.level}} {{className}}</span>                            
                {{/if}}
                <br>
                <span>{{actor.system.details.race}}</span>
                <br>
                <span>{{actor.system.details.background}}</span>
            </div>
        </div>

        {{!-- HP --}}
        <div class="form-details">
            <div class="form-label">
                <span>Hit Points</span>
                <span class="value">{{actor.system.attributes.hp.value}}/{{actor.system.attributes.hp.max}}</span>
            </div>
        </div>

        {{!-- Movement --}}
        <div class="form-details">
            <div class="form-label">Movement</div>
            {{#each movement}}
                {{#if this.value}}
                <div class="form-label">
                    <span>{{@key}}</span>
                    <span class="value">{{this.value}} {{../movementUnits}}</span>
                </div>
                {{/if}}
            {{/each}}
        </div>

        {{!-- Basic Details --}}
        <div class="form-details">
            <div class="form-label">
                <span>Gender</span>
                <span class="value">{{actor.system.details.gender}}</span>
            </div>
            <div class="form-label">
                <span>Age</span>
                <span class="value">{{actor.system.details.age}}</span>
            </div>
            <div class="form-label">
                <span>Alignment</span>
                <span class="value">{{actor.system.details.alignment}}</span>
            </div>
            <div class="form-label">
                <span>Size</span>
                <span class="value">{{actor.system.details.size}}</span>
            </div>  
            <div class="form-label">
                <span>Height</span>
                <span class="value">{{actor.system.details.height}}</span>
            </div>
            <div class="form-label">    
                <span>Weight</span>
                <span class="value">{{actor.system.details.weight}}</span>
            </div>
            <div class="form-label">
                <span>Hair</span>
                <span class="value">{{actor.system.details.hair}}</span>
            </div>
            <div class="form-label">
                <span>Eyes</span>   
                <span class="value">{{actor.system.details.eyes}}</span>
            </div>
            <div class="form-label">
                <span>Skin</span>
                <span class="value">{{actor.system.details.skin}}</span>
            </div>  
        </div>
    </div>
</div> 