{{!-- CHARACTER CORE  --}}
<div class="workspace-section" id="workspace-section-character-core-{{id}}">
    <h4>Character Details <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-character-core-content-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    <div id="workspace-section-character-core-content-{{id}}" class="workspace-section-content">
    
        {{!-- Header --}}
        <div class="workspace-section-image-container">
            <img class="workspace-section-image" src="{{actor.img}}" title="{{actor.name}}" />
            <div class="workspace-section-image-caption">
                <h6>{{actor.name}}</h6>
            </div>
        </div>

        {{!-- Class race level background --}}
        <div class="form-details">
            <div class="form-label">
                {{#if isCharacter}}
                    <span>Level {{actor.system.details.level}} {{className}}</span>
                {{/if}}
                <br>
                <span>{{actor.system.details.race}}</span>
                <br>
                <span>{{actor.system.details.background}}</span>
            </div>
        </div>
        
        {{!-- HP --}}
        <div class="form-details">
            <div class="form-label">
                <span>Hit Points</span>
                <span class="value">{{actor.system.attributes.hp.value}}/{{actor.system.attributes.hp.max}}</span>
            </div>
        </div>
        {{!-- Movement --}}
        <div class="form-details">
            <div class="form-label">Movement</div>
            {{#each movement}}
                {{#if this.value}}
                <div class="form-label">
                    <span>{{@key}}</span>
                    <span class="value">{{this.value}} {{../movementUnits}}</span>
                </div>
                {{/if}}
            {{/each}}
        </div>
        <div class="form-details">
            <div class="form-label">
                <span>Gender</span>
                <span class="value">{{actor.system.details.gender}}</span>
            </div>
            <div class="form-label">
                <span>Age</span>
                <span class="value">{{actor.system.details.age}}</span>
            </div>
            <div class="form-label">
                <span>Alignment</span>
                <span class="value">{{actor.system.details.alignment}}</span>
            </div>
            <div class="form-label">
                <span>Size</span>
                <span class="value">{{actor.system.details.size}}</span>
            </div>  
            <div class="form-label">
                <span>Height</span>
                <span class="value">{{actor.system.details.height}}</span>
            </div>
            <div class="form-label">    
                <span>Weight</span>
                <span class="value">{{actor.system.details.weight}}</span>
            </div>
            <div class="form-label">
                <span>Hair</span>
                <span class="value">{{actor.system.details.hair}}</span>
            </div>
            <div class="form-label">
                <span>Eyes</span>   
                <span class="value">{{actor.system.details.eyes}}</span>
            </div>
            <div class="form-label">
                <span>Skin</span>
                <span class="value">{{actor.system.details.skin}}</span>
            </div>  
        </div>
    </div>
</div>


{{!-- ABILITIES  --}}
<div class="workspace-section" id="workspace-section-character-abilities-{{id}}">
    <h4>Ability Scores <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-character-abilities-content-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    <div id="workspace-section-character-abilities-content-{{id}}" class="workspace-section-content">
        
        <div class="form-label">Abilities <span class="helper">(some context here)</span></div>
        <div class="workspace-section-nodivider">

            <div class="form-details workspace-grid-2col">
                {{#each abilities}}
                <div class="form-label">
                    <span>{{this.label}}</span>
                    <span class="value">{{this.value}} ({{numberFormat this.mod sign=true}})</span>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
</div>



{{!-- Skills  --}}
<div class="workspace-section" id="workspace-section-character-skills-{{id}}">
    <h4>Skills <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-character-skills-content-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    <div id="workspace-section-character-skills-content-{{id}}" class="workspace-section-content">
        <div class="workspace-section-nodivider">
            <div class="form-details workspace-grid-2col">
                {{#each skills}}
                <div class="form-label">
                    {{#if this.isProficient}}<i class="fas fa-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    <span>{{this.ability}} {{this.label}}</span>
                    <span class="value">{{this.total}} <span class="base-value">{{this.baseValue}}</span></span>
                </div>
                {{/each}}
            </div>
        </div>  
    </div>
</div>


{{!-- features  --}}
<div class="workspace-section" id="workspace-section-character-features-{{id}}">
    <h4>Features <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-character-features-content-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    <div id="workspace-section-character-features-content-{{id}}" class="workspace-section-content">
        <div class="workspace-section-nodivider">
            <div class="form-details workspace-grid-2col">
                {{#each features}}
                <div class="workspace-item-container">
                    <img class="workspace-item-icon" src="{{this.img}}" title="{{this.name}}" />
                    <span class="workspace-item-name">{{this.name}}</span>
                </div>
                {{/each}}
            </div>
        </div>  
    </div>
</div>





{{!-- Weapons  --}}
<div class="workspace-section" id="workspace-section-character-weapons-{{id}}">
    <h4>Weapons <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-character-weapons-content-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    <div id="workspace-section-character-weapons-content-{{id}}" class="workspace-section-content">
        
        <div class="workspace-section-nodivider">

            {{!-- Weapons --}}
            {{#if equippedWeapons}}
            <div class="form-details">
                <div class="form-label">Equipped Weapons</div>
                {{#each equippedWeapons}}
                <div class="form-label">
                    <span>{{this.name}}</span>
                    <span class="value">{{this.damage}}</span>
                </div>
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
</div>

{{!-- Spells  --}}
<div class="workspace-section" id="workspace-section-character-spells-{{id}}">
    <h4>Spells <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-character-spells-content-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    <div id="workspace-section-character-spells-content-{{id}}" class="workspace-section-content">
        
    
        <div class="form-label">Some header <span class="helper">(some context here)</span></div>
        <div class="workspace-section-nodivider">
            Spells Here

        </div>

    </div>
</div>



{{!-- Biography  --}}
<div class="workspace-section" id="workspace-section-character-biography-{{id}}">
    <h4>Biography <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-character-biography-content-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    <div id="workspace-section-character-biography-content-{{id}}" class="workspace-section-content">
        <div class="workspace-section-nodivider">
            {{#if biography}}
                {{{biography}}}
            {{else}}
                <p class="workspace-helper-text">No biography available for this character.</p>
            {{/if}}
        </div>
    </div>
</div>