
{{!-- CHARACTER SHEET  --}}
<div class="workspace-section" id="workspace-section-character-details-{{id}}">
    <h4>Character Sheet <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-character-details-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    <div id="workspace-section-character-details-{{id}}" class="workspace-section-content">

        PUT THE CHARACTER SHEET HERE

    </div>
</div>

{{!-- Biography  --}}
<div class="workspace-section" id="workspace-section-character-biography-{{id}}">
    <h4>Biography <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-character-biography-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    <div id="workspace-section-character-biography-{{id}}" class="workspace-section-content">

        PUT THE CHARACTER BIOGRAPHY HERE

    </div>
</div>