<span style="visibility: none">coffeepub-hide-header</span>
{{!-- XP Distribution Chat Message Template --}}
<div class="dnd5e chat-card cpb-xp-card">
    <header class="card-header flexrow">
        <h3 class="item-name"><i class="fas fa-star"></i> XP Distribution</h3>
    </header>
    <div class="card-content">
        <div class="cpb-xp-card-section-header"><i class="fas fa-list-ol"></i> XP Summary</div>
        <div class="xp-totals">
            <div class="xp-total-row">
                <span class="xp-total-label">Party Size</span>
                <span class="xp-total-value">{{xpData.partySize}} x {{formatMultiplier xpData.partyMultiplier}} Multiplier</span>
            </div>
            <div class="xp-total-row">
                <span class="xp-total-label">Encounter XP</span>
                <span class="xp-total-value">{{xpData.totalXp}}</span>
            </div>
            <div class="xp-total-row">
                <span class="xp-total-label">Adjusted XP</span>
                <span class="xp-total-value">{{xpData.adjustedTotalXp}}</span>
            </div>
            <div class="xp-total-row">
                <span class="xp-total-label">Base Player XP</span>
                <span class="xp-total-value">{{xpData.xpPerPlayer}}</span>
            </div>
        </div>

        {{!-- Player Results --}}
        {{#if xpData.players.length}}
        <div class="cpb-xp-card-section-header"><i class="fas fa-users"></i> Experience Allocations</div>
        <div class="player-list">
            {{#each xpData.players}}
            <div class="player-item">
                <div class="cpb-xp-player-info">
                    <img class="player-portrait" src="{{img}}" alt="{{name}}" />
                    <div class="cpb-xp-player-details">
                        <span class="cpb-actor-name">{{name}}</span>
                        <span class="total-xp">FINAL XP: {{finalXp}}</span>
                    </div>
                </div>
                <div class="cpb-xp-player-awards">
                    <span class="xp-gained">{{#if included}}+{{finalXp}} XP{{else}}EXCLUDED{{/if}}</span>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}

        {{!-- Monster Breakdown --}}
        {{#if xpData.monsters.length}}
        <div class="cpb-xp-card-section-header"><i class="fas fa-dragon"></i> Monster Resolutions</div>
        <div class="monster-list">
            {{#each xpData.monsters}}
            <div class="cpb-xp-monster-item">
                <div class="cpb-xp-monster-info">
                    <span class="cpb-xp-resolution-icon">
                        {{#if (eq resolutionType "DEFEATED")}}<i class="fas fa-skull"></i>{{/if}}
                        {{#if (eq resolutionType "NEGOTIATED")}}<i class="fas fa-people-arrows"></i>{{/if}}
                        {{#if (eq resolutionType "ESCAPED")}}<i class="fas fa-running"></i>{{/if}}
                        {{#if (eq resolutionType "IGNORED")}}<i class="fas fa-person-walking-arrow-loop-left"></i>{{/if}}
                        {{#if (eq resolutionType "CAPTURED")}}<i class="fas fa-person-praying"></i>{{/if}}
                    </span>
                    <span class="cpb-xp-monster-name" title="{{name}}">{{name}}</span>
                </div>
                <span class="cpb-xp-monster-points">{{finalXp}} XP</span>
            </div>
            {{/each}}
        </div>
        {{/if}}

    </div>
</div> 